<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>My App</span>
  @if (isOverview) {
    <span class="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Search a Blog</mat-label>
        <input matInput placeholder="Search" [(ngModel)]="searchString" />
      </mat-form-field>
    </span>
  }

  <span class="spacer"></span>

  @if (isAuthenticated().isAuthenticated) {
    <button
      mat-button
      class="add-blog"
      aria-label="Create a new Blog button"
      (click)="navigateToNewBlog()"
    >
      Create a new Blog
    </button>

    <button
      mat-icon-button
      class="example-icon logout-icon"
      aria-label="Logout button"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  } @else {
    <button
      mat-icon-button
      class="example-icon login-icon"
      aria-label="Login button"
      (click)="login()"
    >
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>
