@if (blogEntryOverview) {
  <div class="blog-card" #container>
    <!-- Header Section with Image -->
    @if (blogEntryOverview.headerImageUrl) {
      <div class="header">
        <img
          [src]="blogEntryOverview.headerImageUrl"
          alt="Header Image"
          class="header-image"
          (click)="goToDeatilsPage()"
          (keyup.enter)="goToDeatilsPage()"
          tabindex="0"
        />
        <!-- Makes the image focusable -->
      </div>
      <!-- Blog Title -->
      <div class="blog-title">
        <span>{{ blogEntryOverview.title }}</span>
      </div>
    } @else {
      <!-- Blog Title -->
      <div class="blog-title">
        <span class="title">{{ blogEntryOverview.title }}</span>
        <span class="goToDeatilsPage-button">
          <button (click)="goToDeatilsPage()" class="button">Details</button>
        </span>
      </div>
    }

    <!-- Blog Content Preview -->
    <div class="blog-content-preview">
      {{ blogEntryOverview.contentPreview }}
    </div>
    <!-- Likes and Comments -->
    <div class="blog-stats">
      <span class="likes">Likes: {{ blogEntryOverview.likes }}</span>
      <span class="comments">Comments: {{ blogEntryOverview.comments }}</span>
    </div>
    <!-- User Actions and Status -->
    <div class="user-actions">
      @if (!blogEntryOverview.likedByMe) {
        <button (click)="onLikeClicked()" class="button">Like</button>
      }
      @if (blogEntryOverview.likedByMe) {
        <button (click)="onUnlikeClicked()" class="button">Unlike</button>
      }
      @if (blogEntryOverview.createdByMe) {
        <span class="created-by-me">You created this entry</span>
      }
      <!-- Author -->
      <span class="author">Author: {{ blogEntryOverview.author }}</span>
    </div>
  </div>
}
